body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('./agent-images/stats-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.home1-logo {
  width: 100%;
  height: 10%;
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.imagee1 {
  width: 90px;

  color: antiquewhite;
  margin-left: 35px;
}

.home2 {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;

}

.menu12 {
  display: flex;
  flex-direction: row;
  margin-left: 34px;
}

.menu12 li {
  list-style-type: none;
  text-decoration: none;
  color: aliceblue;
  margin-right: 14px;
}

.menu12 li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 34px;
  font-size: 20px;
  margin-right: 14px;
}

.menu12 li a:hover {
  background-color: rgb(7, 7, 51);
  padding: 16px 16px;
  transform: translatey(4px);
  transition: transform 0.4s;
  border-radius: 7px;
  box-shadow: 4px;
}

       
  .menu12 .mimu{
  width: 120px;
  height: 37px;
  border: none;
  font-size: 17px;
  border-radius: 20px;
  background-color: aliceblue;
  color: rgb(19, 19, 79);
  margin-right: 16px;
  margin-bottom: 30px;
  font-weight: bold;
  list-style-type: none;

}

.menu12 button:hover {
  background-color: rgb(7, 7, 51);
  color: aliceblue;
  box-shadow: 5px;
  transform: translatex(-7px);
  transition: transform 0.5s;  
}

/* creating tghr second part of tghe first page */

.gauchhe {
  width: 50%;
  height: 60%;

  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 70px;
  color: aliceblue;
}

.gauchhe p {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  color: #eef2ea;
 
}

.gauchhe h1 {
  font-size: 45px;
}

.bouton {
  display: flex;
  flex-direction: row;
  margin-top: 40px;


}

.bouton .bttn {
  width: 134px;
  height: 41px;
  border: none;
  font-size: 17px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(19, 19, 79);
}

.bouton .bttn2 {
  width: 134px;
  height: 41px;
  border: none;
  font-size: 17px;
  border-radius: 20px;
  background-color: rgb(19, 19, 79);
  color: whitesmoke;
  margin-left: 10px;
}



.droite{
  width: 50%;
  height: 60%;
  display: flex;
}
.droite img {
  width: 460px;
  height: 400px;
  border-radius: 11px;
  box-shadow: 11px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-left: 40px;
}

/* Start with second page_____******************** */
.about-us {
  width: 100%;
  height: 100vh;
  background-color: rgb(220, 233, 233);
  display: flex;
  flex-direction: column;
}

.textte1 {
  width: 100%;
  height: 30%;

  margin-left: 380px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.textte1 p {
  color: blue;
}

.textte1 h2 {
  margin-top: 0;
  /* text-align: center; done with tghe title */
}

.text-boxes {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.text-box1 {
  width: 260px;
  height: 300px;
  border-radius: 7px;
  background-color: rgb(241, 235, 235);
  object-fit: cover;
  box-shadow: 2px 1px 2px #eef2ea;
  margin-left: 20px;

}

.text-box1 img {
  width: 40px;
  object-fit: cover;
  background-color: blue;
  border-radius: 30px;
  align-items: center;
  margin-left: 100px;
  margin-top: 31px;
}

.text-box1 h3,
p {
  color: brown;
  text-align: center;
}

.text-box1 .rolo {
  margin-top: 0;
  color: rgb(143, 113, 113);
  text-align: center;
}

.text-box1 h3,
p {
  color: rgb(1, 0, 0);
  text-align: center;
}

.roloo {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.roloo img {
  width: 17px;
  margin-top: 0;
  margin-left: 0;
  background-color: rgb(241, 235, 235);
  vertical-align: top;
}

.roloo p {
  color: rgb(9, 9, 234);
  font-size: 16px;
  font-weight: bold;
}

/* *****Here we are proceeding with the 3rd page******** */

.projects {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
}

.part-g {
  width: 50%;
  height: 100%;

  display: flex;
}

.part-g img {
  width: 530px;
  margin-left: 100px;
  height: 460px;
}

.part-d {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.part-d p {
  color: blue;
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

/* *********the  following is the fourth page******** */
.bblock {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.alligner {
  display: flex;
  flex-direction: row;
}

.partie-g {
  width: 50%;
  height: 70%;

  display: flex;
  flex-direction: column;
}

.partie-g h1 {

  margin-left: 90px;

}

.partie-d {
  width: 50%;
  height: 70%;
  display: flex;
}

.prem {
  color: blue;
  margin-right: 320px;
  margin-top: 39px;
}

.parara {
  font-size: 20px;
  color: rgb(107, 100, 92);
  margin-right: 40px;
}

.ticko {
  display: flex;
  margin-left: 100px;

}

.ticko img {
  width: 14px;
  height: 14px;
  background-color: rgb(222, 205, 205);
  margin-top: 0;
  border-radius: 22px;

}

.ticko p {
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 0;
  margin-left: 10px;
}

.partie-d img {
  width: 520px;
  height: 410px;
  margin-top: 40px;
}

/* ***********this is my 5yh pahe **************** */

.case_study {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 215, 200);

}

.text7 {
  width: 100%;
  height: 25%;

}

.text7 h2 {
  text-align: center;
  color: rgb(31, 28, 28);
  font-size: 33px;
}

.text7 p {
  text-align: center;
  color: rgb(30, 5, 255);
  font-size: 20px;

}

.boxes {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

}

.sub-baxes {
  width: 360px;
  height: 440px;
  border-radius: 14px;
  margin-left: 15px;
  box-shadow: 2px 2px 3px;
  background-color: #d4dace;
}

.sub-baxes img {
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 0px 0px;

}

.sub-baxes p {
  color: rgb(0, 0, 0);
  margin-top: 27px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* let's designe the footer here****** */
.footing {
  width: 100%;
  height: 120vh;
  background-color: rgb(37, 24, 70);
  display: flex;
  flex-direction: column;
}

.text8 {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* border-bottom: 1px solid rgb(69, 60, 84) 50px ; */
}

.text8 button{
  width: 150px;
  height: 37px;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  background-color: rgb(22, 5, 177);
  color: rgb(191, 191, 219);
  font-weight: bold;
  margin-top: 100px;
  position: absolute;
  right: 0%;
  margin-right: 150px;
}

.text8 h2 {
  color: antiquewhite;
  font-size: 35px;
  margin-left: 130px;
  margin-top: 80px;
}

/* .elemet {
  position: relative;
  height: 50px; /* Adjust to the size of your element */


.short-border {

  position: absolute;
  bottom: 0;
  left: 10%;
  right: 20%;
  /* Adjust the starting point of the border */
  margin-right: 20px;
  width: 85%;
  /* Adjust the length of the border */
  border-bottom: 2px solid #302e58;
  /*  <span class="short-border"></span> */

}

.sec-text8 {
  width: 100%;
  height: 60%;
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.sub-foot {
  width: 280px;
  height: 400px;
  padding: 13px;
  display: flex;
  flex-direction: column;
}

.sub-foot img {
  width: 50px;
  height: 5%;
  top: 0%;
  vertical-align: bottom;
}
.promax{
  margin-top: 10px;
  line-height:2;
  font-size: 20px;
   margin-top: 27px;
  text-align: start;
  color: #eef2ea;
  
}
.promaxe{
  line-height:2;
  font-size: 15px;
   margin-top: 27px;
  text-align: start; 
  color: #eef2ea;
  width: fit-content;
  height: 30%;
  border: solid 3px red;
}
 .entree{
  width: 230px;
  height: 40px;
  border:none;
  border-radius: 10px;
  background-color: rgb(3, 3, 70);
  color: #274905;
  margin-top: 0px;
  margin-right: 60px;
}
.join{
  background-color: rgb(210, 14, 21);
  color: aliceblue;
  width: 68px;
  height: 41px;

}
.entree .join{
  position: absolute;
  margin: 5px;
  flex-direction : important;
}
  



/* creation of respinsiveness of the website************ */
@media(max-width:400px){
  .home{
    width: 100%;
    height: 100vh;
    height: fit-content;
    
    position: relative;
    /* background-image: url('./agent-images/stats-bg.jpg'); */
    /* background-repeat: no-repeat; */
    background-position: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    
  }
  .menu12{
    /* background-color: coral; */
    margin-left:0 ;
    margin-bottom: 0%;
    
  }
  .menu12 li a{
    font-size: 10px;
    padding-left: 0;
    margin-right: 0;

    margin-left: 0%;

  }
  .imagee1{
    width: 35px;
    margin-left: 0;
  }
   .menu12 .mimu{
    width: 45px;
   
    font-size: 10px;
    right: 0%;
  }
  .mimu{
    color: rgb(210, 14, 21);
    top :12px;
    right: 28px;
  
  }
  .home2{
    width: 100%;
    height: 80%;
  
    display: flex;
    flex-direction: row;

  }.droite{
    width: 50%;
    height: 60%;
    display: flex;
  
  }

  
  .gauchhe {
    width: 50%;
    height: 60%;
  
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    color: aliceblue;
  }
  
  .droite img {
    width: 230px;
    height: 140px;
    border-radius: 11px;
    box-shadow: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
 
  }
 .gauchhe h1{
  font-size: 10px;
  text-align: center;
 }
 .gauchhe p{
  font-size: 8px;
  text-align: center;
 }
 .bouton .bttn {
  width: 70px;
  height: 22px;
  border: none;
  font-size: 7px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(19, 19, 79);
  margin-left: 6px;
}

.bouton .bttn2 {
  width: 70px;
  height: 22px;
  border: none;
  font-size: 7px;
  border-radius: 20px;
  background-color: rgb(19, 19, 79);
  color: whitesmoke;
  margin-left: 6px;
  margin-bottom:27px ;
}
  /*second here *****************  */
}
@media (max-width:400px){
  .about-us{
    width: 100%;
    height: 100vh;
     
    display: flex;
    flex-direction: column;
  }
  .textte1 {
    width: 100%;
    height: 20%;
    justify-content: start;
    background-color: aqua;
    display: flex;
    display: none;
  

    }
    .textte1 p, h2{
        color: brown;
        font-size: 17px;
        margin-right: 0;
    }
    
    .text-boxes {
      width: 100%;
      height: 70%;
      display: flex;
      margin-top: 23px;
      flex-direction: row;
      justify-content: center;

      flex-wrap: wrap;
     
    }

    
    .text-box1 {
      width: 150px;
      height: 140px;
      border-radius: 7px;
      background-color: rgb(237, 228, 228);
      object-fit: cover;
      flex-wrap: wrap;
      box-shadow: 2px 1px 2px #eef2ea;
      margin-left: 10px;
    
    }
    .text-box1 img {
      width: 20px;
      object-fit: cover;
      background-color: blue;
      border-radius: 30px;
      align-items: center;
      margin-left: 70px;
      margin-top: 10px;
    }
    
    .text-box1 h3,
    p {
      color: brown;
      text-align: center;
      font-size: 10px;
    }
    
    .text-box1 .rolo {
      margin-top: 0;
      color: rgb(143, 113, 113);
      text-align: center;
    }
    
    .text-box1 h3,
    p {
      color: rgb(1, 0, 0);
      text-align: center;
    }
    
    .roloo {
      display: flex;
      flex-direction: row;
      justify-content: center;
    
    }
    
    .roloo img {
      width: 7px;
      margin-top: 0;
      margin-left: 0;
      background-color: rgb(241, 235, 235);
      vertical-align: top;
    }
    
    .roloo p {
      color: rgb(9, 9, 234);
      font-size: 6px;
      margin-top: 0;
      font-weight: bold;
    }
  
}
@media (max-width:400px){
  .projects{
    width: 100%;
    height: 100vh;
    background-color: rgb(201, 222, 215);
    display: flex;
    flex-direction: column;
  }
  .part-g img {
    width: 220px;
    margin-left: 50px;
    height: 200px;
  }
  .part-d p{
    font-size: 12px;
    color: #000000;
    margin-top: 0;
  }
  .part-d h1{
    font-size: 12px;
    color: #000000;
    margin-bottom: 100px;
  }
  .part-d h3{
    font-size: 12px;
    color: #000000;
    margin-bottom: 100px;
  }
}
/* the fourth page here****************** */
@media (max-width:400px){
  .bblock{
    width: 100%;
    height: 100vh;
    background-color: rgb(90, 188, 84);
    display: flex;
    flex-direction: row;
  }
  .alligner{
    background-color: #eef2ea;
    display: flex;
    flex-direction: column;
  }
 
  .partie-g {
    width: 50%;
    height: 70%;
  
    display: flex;
    flex-direction: column;
  }
  
  .partie-g h1 {
  
    margin-left: 90px;
  
  }
  
  .partie-d {
    width: 50%;
    height: 70%;
    display: flex;
  }
  .prem {
    color: rgb(30, 81, 199);
    font-size:7px ;
    margin-left: 50%;
    margin-top: 0;
    /* margin-right: 320px;
    margin-top: 39px; */
  }
  
  .parara {
    font-size:10px;
    color: rgb(108, 90, 71);
    text-align: center;
    margin-left: 60px;
   
    /* margin-right: 40px; */
  }
  .partie-g h1{
    font-size: 15px;
    color: #000000;
    text-align: center;
  }
  .ticko {
    display: flex;
    /* margin-left: 100px; */
  
  }
  
  .ticko img {
    width: 7px;
    height: 7px;
    background-color: rgb(222, 205, 205);
    margin-top: 0;
    border-radius: 11px;
  
  }
  
  .ticko p {
    color: rgb(0, 0, 0);
    font-size: 6px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0;
    margin-left: 5px;
  }
  
  .partie-d img {
    width: 220px;
    height: 200px;
    margin-top: 40px;
    margin-left: 50px;
  }
}
@media (max-width:400px){
  .footing{
    width: 100%;
    height: 120vh;
    background-color: rgb(37, 24, 70);
    display: flex;
    flex-direction: column;

  }
  .text8{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .text8 h2{
    font-size: 19px;
    text-align: center;
    margin: 40px;
  
  }
  .text8 button{
    margin-top: 160px;
    background-color: #270ec7;
  }
  .short-border {

    position: absolute;
    margin-bottom: 130px;
    left: 10%;
    right: 20%;
    /* Adjust the starting point of the border */
    margin-right: 20px;
    width: 85%;
    /* Adjust the length of the border */
    border-bottom: 2px solid #302e58;
    /* Set border width, style, and color */
  }
  .sec-text8 {
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
  }
  
  .sub-foot {
    width: 140px;
    height: 200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
 
  
  }
  .sub-foot p{
    font-size:10px ;
  }
  .entree{
    width: 110px;
    height: 20px;
    border:none;
    border-radius: 10px;
    background-color: rgb(3, 3, 70);
    color: #274905;
    margin-top: 0px;
    margin-right: 60px;
  }
  .join{
    background-color: rgb(210, 14, 21);
    color: aliceblue;
    width: 32px;
    height: 20px;
  
  }
  .promaxe{
    border: none;
  }
 
 
}






